html,body,h1{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}

body {
    font-family: 'Jura', sans-serif;
    background: url(/images/sauna-bathing.jpg)no-repeat 0px 0px;
    background-size: auto;
}
h1 {
    color: #fff;
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 3em;
    font-weight: 700;
}

.main {
    margin: 4em auto;
    width: 50%;
}
.banner {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
	border-radius:0.8em;
}

.w3 {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.agile {
    float: right;
    width: 48%;
}
.signin-form {
    background: rgba(0, 0, 0, 0.5);
    background-size: cover;
	border-radius:0.8em;
    padding: 2em 2em;
	text-align: center;
}
.signin-form h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="text"], .signin-form input[type="password"], .signin-form input[type="email"] {
    width: 92%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #FFF;
    border: none;
    border-bottom: 2px solid #fff;
	letter-spacing: 1px;
    text-align:center;
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
    background: none;
    display: block;
}
::-webkit-input-placeholder{
	color:#fff !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #002242;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.signin-form button {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
	
}
.signin-form button:hover {
    color: #fff;
    background: #002242;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.signin-form p a {
    font-size: 0.875em;
    color: #fff;
    letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
 .w3 {
    float: left;
    width: 100%;
    margin-right: 0%;
    margin-bottom: 0.5em;
}
.agile {
    float: right;
    width: 100%;
}  
.main {
    margin: 4em auto;
    width: 100%;
}
.signin-form {
 padding: 0.5em 2em;
}
}
