body {
	margin:0;
	font-family: 'Jura', sans-serif;
}	

ul {
	background: url(../images/sauna-bathing.jpg)no-repeat 0px 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #000000;
}

li
 {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.563em 4.375em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.5);
}

li.logout {
	float: right;
	}


.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.chartdiv {
    display: none;
	width: 30%;
	margin: 0.5%;
	padding: 1em;
	float: left;
}
.myChart {
	width:100%;
	
}

.mySecondChart {
	width:100%;
	
}


.mychart {
	width:12.5em;
	height:12.5em;
}

.navbar {
    overflow: hidden;
    background: url(../images/sauna-bathing.jpg)no-repeat 0px 0px;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #000000;
	text-decoration: none;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px 30px;
	text-decoration: none;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: white;
    padding: 20px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #000000;
	text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	text-shadow: none;
}

.dropdown-content a:hover {
     background-color: rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.registerdiv, .set-form, .deviceset_form, .password_form, .email_form, .joinset_form{
	margin: auto;
	padding: 25px 100px 100px 100px;
	border-style: solid;
	width: 30%;
}
.registerresultdiv{
	margin: auto;
	width: 30%;
}
#registerbutton, #set_button, #deviceset_button, #password_button, #email_button, #joinset_button{
	float: right;
	outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
}
#registerbutton:hover, #set_button:hover, #deviceset_button:hover, #password_button:hover, #email_button:hover, #joinset_button:hover, #accept_button:hover{
	color: #fff;
    background: #002242;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

#accept_button{
	float: right;
	outline: none;
    width: 30%;
    text-align: center;
    font-size: 0.8em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
}


#devicename, #setName, #password, #newPassword, #passwordConf, #newEmail, emailPassword {
	width:100%;
	padding: 4px
}
#registerform, #set_form, #deviceset_form, #password-form, #email-form, #joinset_form{
	text-align: center;
}

@media only screen and (max-width: 800px) {
.chartdiv {
    display: none;
	width: 97.7%;
	margin: 0px;
	padding: 0px;
	float: left;
    }
.dropdown {
	float: right;
	width: 50%;
	}
.dropdown-content {
	right: 0;
	}
#logout_link{
	width:50%;
	float: right;
}
#home{
    width:50%;
    float:left;
}
#settings{
	width:50%;
	float: left;
}
.navbar a {
    padding: 20px 0px;
}
.dropdown .dropbtn {
    padding: 20px 56.6px;
}
.dropdown-content a {
	text-align: center;
}
#accept_button{
		float: right;
	outline: none;
    width: 50%;
    text-align: center;
    font-size: 0.6em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 5px;
}
}